In [13]:
# If at any point you're receiving the following TypeError message:
## TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type
# Check the compatibility of your versions of numpy and pandas:
#print(np.__version__)
#print(pd.__version__)

##!pip install numpy==1.16.5 --user
##!pip install pandas==0.25.3 --user

# Import libraries and dependencies
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
#import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation
import json, requests

In [14]:
#Read in the Zillow CSV created in the data cleaning file

zillow_data = pd.read_csv('../resources/Zillow_Data.csv',index_col='State')
zillow_df = pd.DataFrame(zillow_data)


#Create a pivot table to organize the data based on the regions in the selected state and.

br1_data_table = pd.DataFrame(zillow_df[zillow_df['1 BR Median Price'] > 0]).round(2)
br1_data_table = pd.DataFrame(br1_data_table[br1_data_table['1 BR Median Price']< 1400])
br1_data_table = pd.pivot_table(
    br1_data_table, 
    index=['State','RegionName'],
    values=['1 BR Median Price']
)



br1_data_table.loc['NJ'].head()

                      1 BR Median Price
RegionName
Bayonne                           450.0
Belleville                        645.0
Bloomfield                        662.5
Cherry Hill Township              737.5
East Orange                       400.0

In [15]:
### Defining function to loosely simulate live typing
import time
import sys
from random import randrange

### Variable created to hold list of NPC text
npc_chatter = []

### Function is based off an example found in Stack Overflow
def chatter(npc_chatter):
    print()
    for c in npc_chatter:
        sys.stdout.write(c)
        sys.stdout.flush()
        secs = '0.0' + str(randrange(10,20,1))
        secs = float(secs)
        time.sleep(secs)
    print()
    time.sleep(1)

state = ''
br_num = 0
rent_budget = 0
drop_data = []

if br_num == 1:
    drop_data = ['CountyName','Metro','2 BR Median Price','3 BR Median Price','4 BR Median Price','5+ BR Median Price']
elif br_num == 2:
    drop_data = ['CountyName','Metro','1 BR Median Price','3 BR Median Price','4 BR Median Price','5+ BR Median Price']
elif br_num == 3:
    drop_data = ['CountyName','Metro','1 BR Median Price','2 BR Median Price','4 BR Median Price','5+ BR Median Price']
elif br_num == 4:
    drop_data = ['CountyName','Metro','1 BR Median Price','2 BR Median Price','4 BR Median Price','5+ BR Median Price']
elif br_num >= 5:
    drop_data = ['CountyName','Metro','1 BR Median Price','2 BR Median Price','3 BR Median Price','4 BR Median Price']

print(drop_data)

In [16]:
state = ''
br_num = 0
rent_budget = 0
housing_options = []

def rent_analysis(housing_options):
     state = ''
     br_num = 0
     rent_budget = 0
     
     chatter('The_Good_Knight: "So you\'re looking for a new apartment? Let\'s take a look and see what prices are looking like!"')
     chatter('The_Good_Knight: "Where are you looking to live?"')
    
     state = input('"Please enter the abbreviation of the state you would like to live in:" ')

     chatter(f'"{state}? Nice! How many bedrooms are you looking for?"')

     br_num = input('"Please enter the amount of bedrooms you\'re looking for"')
     
     #We converted this to a float to be able to compare them in the formula
     br_num = float(br_num)

     chatter(f'"Okay great! So you\'re looking for a {br_num} bedroom apartment in {state}. Now all we need to know is what your budget is"')

     rent_budget = input('"Please enter your budget for rent"')
     
     #We converted this to a float to be able to compare them in the formula
     rent_budget = float(rent_budget)



     chatter(f'"Perfect! Let\'s see if there are any {br_num} bedroom apartments that fit your budget in {state}."')
     
     br1_data_table = pd.DataFrame(zillow_df[zillow_df['1 BR Median Price'] > 0]).round(2)
     br1_data_table = pd.DataFrame(br1_data_table[br1_data_table['1 BR Median Price']< rent_budget])
     br1_data_table = pd.pivot_table(
         br1_data_table, 
         index=['State','RegionName'],
         values=['1 BR Median Price']
         )
     
     br2_data_table = pd.DataFrame(zillow_df[zillow_df['2 BR Median Price'] > 0]).round(2)
     br2_data_table = pd.DataFrame(br2_data_table[br2_data_table['2 BR Median Price']< rent_budget])
     br2_data_table = pd.pivot_table(
         br2_data_table, 
         index=['State','RegionName'],
         values=['2 BR Median Price']
         )

     br3_data_table = pd.DataFrame(zillow_df[zillow_df['3 BR Median Price'] > 0]).round(2)
     br3_data_table = pd.DataFrame(br3_data_table[br3_data_table['3 BR Median Price']< rent_budget])
     br3_data_table = pd.pivot_table(
         br3_data_table, 
         index=['State','RegionName'],
         values=['3 BR Median Price']
         )
     
     br4_data_table = pd.DataFrame(zillow_df[zillow_df['4 BR Median Price'] > 0]).round(2)
     br4_data_table = pd.DataFrame(br4_data_table[br4_data_table['4 BR Median Price']< rent_budget])
     br4_data_table = pd.pivot_table(
         br4_data_table, 
         index=['State','RegionName'],
         values=['4 BR Median Price']
         )
     
     br5_data_table = pd.DataFrame(zillow_df[zillow_df['5+ BR Median Price'] > 0]).round(2)
     br5_data_table = pd.DataFrame(br5_data_table[br5_data_table['5+ BR Median Price']< rent_budget])
     br5_data_table = pd.pivot_table(
         br5_data_table, 
         index=['State','RegionName'],
         values=['5+ BR Median Price']
         )

     if br_num == 1:
         return br1_data_table.loc[f'{state}']
     elif br_num == 2:
         return br2_data_table.loc[f'{state}']
     elif br_num == 3:
         return br3_data_table.loc[f'{state}']
     elif br_num == 4:
         return br4_data_table.loc[f'{state}']
     elif br_num == 5:
         return br5_data_table.loc[f'{state}']
     elif br_num >5:
         return br5_data_table.loc[f'{state}']


housing_options = rent_analysis(housing_options)
print(housing_options)

The_Good_Knight: "So you're looking for a new apartment? Let's take a look and see what prices are looking like!"

The_Good_Knight: "Where are you looking to live?"

"FL? Nice! How many bedrooms are you looking for?"

"Okay great! So you're looking for a 6.0 bedroom apartment in FL. Now all we need to know is what your budget is"

"Perfect! Let's see if there are any 6.0 bedroom apartments that fit your budget in FL."